<h1>Comments</h1>

{{#if error}}
  <div class="alert alert-error">
    {{error}}
  </div>
{{/if}}

{{#if comments.length}}
  <ul class="comment-list">
    {{#each comments}}
      <li class="comment-item">
        <div class="comment-meta">
          <span class="comment-author">@{{author}}</span>
          <span class="comment-date">{{createdAt}}</span>
        </div>
        <div class="comment-body">
          {{{text}}}
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="muted">No comments yet. Be the first!</p>
{{/if}}
